<!DOCTYPE html>
<html>
    <head>
        <script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"></script>
        <link href="DandDNotes.css" rel="stylesheet">
    </head>
    <body>
        <h2>D and D Notes <%= name %> </h2> <br>
        <div class="text">
            <form id="form1" onsubmit="return checkdata()">
                <label for="name">Name</label>
                <input type="text" id="name" name="note_name">
                <label for="notes">Notes</label>
                <textarea id="notes" name="note_content" rows="30"></textarea>
                <div>
                    <button>Save</button>
                    <button id="reset_button">Reset</button>
                </div>
                <input type="hidden" name="id" id="id"></input>
            </form>
            <div class="getNotes">
                <label>Get Name</label>
                <select id="list">
                    <option></option>
                </select>
                
            </div>
        </div>
        <script type="application/javascript" src="DandDNotes.js"></script>
    </body>  
</html>